*{ margin:0 auto; padding:0 auto; }
.notice{font-size:20px;color: brown}
.online{
    background: yellowgreen ;
}
.selected{
    background-color: LightGrey ;
}
thead { border:1px solid #aaa}
tfoot { border:1px solid #aaa}

.background-index{
    text-align:center;
}
.background-index .background{
    border: hidden;font-size: 10px;
}

.background-history-index{
    text-align:center;
}
.background-history-index .background{
    border: hidden;font-size: 10px;
}
